@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

#rc {
	max-width: 1000px;
	margin: auto;
}

#rc > div {
	float: left;
	width: 48%;
	padding: 0 1%;
}

#rc > div:nth-child(1) {
	border-right: 1px solid black;
	margin-right: -1px;
}

#rc > div:nth-child(2) {
	border-left: 1px solid black;
	margin-right: -1px;
}

#rc > div > div > div:nth-child(2n) {
	color: lightgray;
	font-size: 64px;
	text-align: center;
}

#rc .box {
	position: relative;
	border: 10px solid lightgray;
	padding: 10px;
}

#rc .box > span {
	position: absolute;
	font-size: 32px;
	color: gray;
	opacity: 0.5;
}
#rc .box > div.imgw {
	min-height: 300px;
}

#rc .box > div.imgw > img {
	width: 100%;
}
